@*Include @model with Applicant's/Accounts Information*@

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">ApplicantDetails</h4>
    </div>
    <hr />
    <dl class="dl-horizontal">
        @*Enter whatever fields the database has*@

        @* <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
        *@
    </dl>
</div>