@model IEnumerable<AppliedJob>

<div>
    <div>
        <h1 style="text-align: center;">Applicant Info</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="max-width: none; max-height: none; width: 1120.33px; height: 532.736px;">
                <table class="table" style="">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.ApplicantName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Status)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicantName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <form asp-action="Applicant" asp-controller="Applicant" method="post">
                                            <input hidden name="jobId" value="@item.Id" />
                                            <input hidden name="status" value="Accepted" />
                                            <button class="btn btn-primary" style="padding: 8px; box-shadow: rgba(38, 143, 255, 0.42) 1px 0px 0px 3px; text-shadow: none; border-width: 1px;">Accept</button>
                                        </form>
                                        <form asp-action="Applicant" asp-controller="Applicant" method="post">
                                            <input hidden name="jobId" value="@item.Id" />
                                            <input hidden name="status" value="Declined" />
                                            <button class="btn btn-secondary" style="box-shadow: rgba(130, 138, 145, 0.204) -2px 2px 5px 0px; text-shadow: none; padding: 8px; margin: 0px 0px 0px 27px;"> Decline</button>
                                        </form>
                                        &nbsp;
                                        <form asp-action="Applicant" asp-controller="Applicant" method="post">
                                            <a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Details</a>
                                        </form>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </table>
                <div id='myModal' class='modal'>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id='myModalContent'></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <script>

        var TeamDetailPostBackURL = '/Applicant/Details';
        $(function () 
        {
            $(".anchorDetail").click(function () 
            {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) 
                    {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () 
                    {
                        alert("Dynamic content load failed.");
                    }
                });
            });

            $("#closbtn").click(function() {$('#myModal').modal('hide');});
        });
    </script>
}