@model IEnumerable<AppliedJob>
<div>
    <div>
        <h1 style="text-align: center;">Applied Jobs </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="max-width: none; max-height: none; width: 1120.33px; height: 532.736px;">
                <table class="table" style="">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.JobId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.AppliedStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Status)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        @if (item.AppliedStatus == "Applied")
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppliedStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <form asp-action="AppliedJobs" asp-controller="Applicant" method="post">
                                            <input hidden name="jobId" value="@item.Id" />
                                            <input hidden name="status" value="Cancled" />
                                            <button class="btn btn-primary" style="padding: 8px; box-shadow: rgba(38, 143, 255, 0.42) 1px 0px 0px 3px; text-shadow: none; border-width: 1px;">Cancel</button>
                                        </form>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                            }
                        }
                </table>
            </div>
        </div>
    </div>
</div>






