@model IEnumerable<JobPosting>
@{
    ViewData["Title"] = "Applicant";
    Layout = "_ParentLayout";
}

<div>
    <div>
        <h1 style="text-align: center;">JobsPosted</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="max-width: none; max-height: none; width: 1120.33px; height: 532.736px;">
                <table class="table" style="">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.JobTitle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(Model => Model.DatePosted)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatePosted)
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <form asp-controller="PostJob" method="post">
                                            <input hidden name="jobTitle" value="@item.Id" />
                                            <input hidden name="jobTitle" value="@item.JobTitle" />
                                            <input hidden name="description" value="@item.Description" />
                                            <input hidden name="datePosted" value="@item.DatePosted" />
                                        </form>
                                        <form>
                                            <a asp-controller="Search" asp-action="JobDetails" asp-route-jobId="@item.Id" method="post" class="btn btn-primary m-1" data-id="@item.Description">Details</a>
                                        </form>

                                        <form>
                                            <a asp-controller="PostJob" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary m-1">Edit</a>
                                        </form>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                </table>
                <div id="myModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="myModalContent"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>